@import 'tailwindcss';

@theme {
	--color-body-50: oklch(var(--body-lightness-50) var(--neutral-chroma) var(--hue-color));
	--color-body-100: oklch(var(--body-lightness-100) var(--neutral-chroma) var(--hue-color));
	--color-body-200: oklch(var(--body-lightness-200) var(--neutral-chroma) var(--hue-color));
	--color-body-300: oklch(var(--body-lightness-300) var(--neutral-chroma) var(--hue-color));
	--color-body-400: oklch(var(--body-lightness-400) var(--neutral-chroma) var(--hue-color));
	--color-body-500: oklch(var(--body-lightness-500) var(--neutral-chroma) var(--hue-color));

	--color-primary-50: oklch(var(--primary-lightness-50)  var(--primary-chroma-50)  var(--hue-color));
	--color-primary-100: oklch(var(--primary-lightness-100) var(--primary-chroma-100) var(--hue-color));
	--color-primary-200: oklch(var(--primary-lightness-200) var(--primary-chroma-200) var(--hue-color));
	--color-primary-300: oklch(var(--primary-lightness-300) var(--primary-chroma-300) var(--hue-color));
	--color-primary-400: oklch(var(--primary-lightness-400) var(--primary-chroma-400) var(--hue-color));
	--color-primary-500: oklch(var(--primary-lightness-500) var(--primary-chroma-500) var(--hue-color));
	--color-primary-600: oklch(var(--primary-lightness-600) var(--primary-chroma-600) var(--hue-color));
	--color-primary-700: oklch(var(--primary-lightness-700) var(--primary-chroma-700) var(--hue-color));
	--color-primary-800: oklch(var(--primary-lightness-800) var(--primary-chroma-800) var(--hue-color));
	--color-primary-900: oklch(var(--primary-lightness-900) var(--primary-chroma-900) var(--hue-color));
	--color-primary-950: oklch(var(--primary-lightness-950) var(--primary-chroma-950) var(--hue-color));

	--color-text-100: oklch(var(--text-lightness-100) var(--neutral-chroma) var(--hue-color));
	--color-text-200: oklch(var(--text-lightness-200) var(--neutral-chroma) var(--hue-color));
	--color-text-300: oklch(var(--text-lightness-300) var(--neutral-chroma) var(--hue-color));
	--color-text-400: oklch(var(--text-lightness-400) var(--neutral-chroma) var(--hue-color));
	--color-text-500: oklch(var(--text-lightness-500) var(--neutral-chroma) var(--hue-color));
	--color-text-600: oklch(var(--text-lightness-600) var(--neutral-chroma) var(--hue-color));
	--color-text-700: oklch(var(--text-lightness-700) var(--neutral-chroma) var(--hue-color));
	--color-text-800: oklch(var(--text-lightness-800) var(--neutral-chroma) var(--hue-color));
	--color-text-900: oklch(var(--text-lightness-900) var(--neutral-chroma) var(--hue-color));

	/*==================================================
		Font
		startValue * (endValue ** (index / (totalNumber -1)))
	==================================================*/
	--text-custom-md:  calc(1rem * pow(3, (0 / 6))); /* 1.0000000000rem */
	--text-custom-lg:  calc(1rem * pow(3, (1 / 6))); /* 1.2009369552rem */
	--text-custom-xl:  calc(1rem * pow(3, (2 / 6))); /* 1.4422495703rem */
	--text-custom-2xl: calc(1rem * pow(3, (3 / 6))); /* 1.7320508076rem */
	--text-custom-3xl: calc(1rem * pow(3, (4 / 6))); /* 2.0800838231rem */
	--text-custom-4xl: calc(1rem * pow(3, (5 / 6))); /* 2.4966612026rem */
	--text-custom-5xl: calc(1rem * pow(3, (6 / 6))); /* 3.0000000000rem */
}

@layer base {
	:root {
		color-scheme: light;
		interpolate-size: allow-keywords;

		/*==================================================
			Global styling variables
		==================================================*/
		--isDarkMode:     0.00;
		--lightness-max:  0.97;
		--lightness-min:  0.20;
		--lightness-diff: calc(var(--lightness-max) - var(--lightness-min));
		--neutral-chroma: 0.01;
		--hue-color:      277;

		/*==================================================
			Body variables
		==================================================*/
		--body-step: calc(0.05 * (-1 + 2 * var(--isDarkMode)));
		--body-base: calc(var(--lightness-diff) * (1 - var(--isDarkMode)) + var(--lightness-min));

		--body-lightness-50: calc(var(--body-base) + (var(--body-step) * 0));
		--body-lightness-100: calc(var(--body-base) + (var(--body-step) * 1));
		--body-lightness-200: calc(var(--body-base) + (var(--body-step) * 2));
		--body-lightness-300: calc(var(--body-base) + (var(--body-step) * 3));
		--body-lightness-400: calc(var(--body-base) + (var(--body-step) * 4));
		--body-lightness-500: calc(var(--body-base) + (var(--body-step) * 5));

		/*==================================================
			Primary variables
			- calculate lightness: (lightestLightness - darkestLightness) * (i / (totalAmountOfColors - 1)) + darkestLightness
			- calculate chroma: (primaryChroma / primaryLightness) * (primaryLightness - abs(currentLightness - primaryLightness))
		==================================================*/
		--primary-lightness-50:  calc(var(--lightness-diff) * (10 / 10) + var(--lightness-min));
		--primary-lightness-100: calc(var(--lightness-diff) * (09 / 10) + var(--lightness-min));
		--primary-lightness-200: calc(var(--lightness-diff) * (08 / 10) + var(--lightness-min));
		--primary-lightness-300: calc(var(--lightness-diff) * (07 / 10) + var(--lightness-min));
		--primary-lightness-400: calc(var(--lightness-diff) * (06 / 10) + var(--lightness-min));
		--primary-lightness-500: calc(var(--lightness-diff) * (05 / 10) + var(--lightness-min));
		--primary-lightness-600: calc(var(--lightness-diff) * (04 / 10) + var(--lightness-min));
		--primary-lightness-700: calc(var(--lightness-diff) * (03 / 10) + var(--lightness-min));
		--primary-lightness-800: calc(var(--lightness-diff) * (02 / 10) + var(--lightness-min));
		--primary-lightness-900: calc(var(--lightness-diff) * (01 / 10) + var(--lightness-min));
		--primary-lightness-950: calc(var(--lightness-diff) * (00 / 10) + var(--lightness-min));

		--primary-chroma-factor: calc(0.2 / var(--primary-lightness-500));
		--primary-chroma-50:  calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-50)  - var(--primary-lightness-500))));
		--primary-chroma-100: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-100) - var(--primary-lightness-500))));
		--primary-chroma-200: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-200) - var(--primary-lightness-500))));
		--primary-chroma-300: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-300) - var(--primary-lightness-500))));
		--primary-chroma-400: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-400) - var(--primary-lightness-500))));
		--primary-chroma-500: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-500) - var(--primary-lightness-500))));
		--primary-chroma-600: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-600) - var(--primary-lightness-500))));
		--primary-chroma-700: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-700) - var(--primary-lightness-500))));
		--primary-chroma-800: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-800) - var(--primary-lightness-500))));
		--primary-chroma-900: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-900) - var(--primary-lightness-500))));
		--primary-chroma-950: calc(var(--primary-chroma-factor) * (var(--primary-lightness-500) - abs(var(--primary-lightness-950) - var(--primary-lightness-500))));

		/*==================================================
			Text variables
		==================================================*/
		--text-lightness-max: calc(var(--lightness-max) + var(--lightness-min));

		--text-lightness-100: abs(var(--lightness-diff) * (8 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-200: abs(var(--lightness-diff) * (7 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-300: abs(var(--lightness-diff) * (6 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-400: abs(var(--lightness-diff) * (5 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-500: abs(var(--lightness-diff) * (4 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-600: abs(var(--lightness-diff) * (3 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-700: abs(var(--lightness-diff) * (2 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-800: abs(var(--lightness-diff) * (1 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
		--text-lightness-900: abs(var(--lightness-diff) * (0 / 8) + var(--lightness-min) - var(--text-lightness-max) * var(--isDarkMode));
	}

	/*==================================================
		Dark mode switch
	==================================================*/
	@media (prefers-color-scheme: dark) {
		:root {
			--isDarkMode: 1;
			color-scheme: dark;
		}
	}

	*,
	::before,
	::after {
		border-color: var(--color-body-200);
		outline: solid 2px transparent;
		outline-offset: 2pt;
		transition-property: none;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	*:focus-visible {
		outline: solid 2px var(--color-primary-500);
	}

	::selection,
	::target-text {
		color: var(--color-primary-50);
		background: var(--color-primary-500);
	}

	body,
	dialog > * {
		color: var(--color-text-700);
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		font-size: var(--font-size-1);
		font-weight: 400;
		line-height: 1.33;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-text-900);
		font-weight: 600;
		line-height: 1;
		text-wrap: balance;
	}

	h1 {
		font-size: var(--font-size-7);
	}

	h2 {
		font-size: var(--font-size-6);
	}

	h3 {
		font-size: var(--font-size-5);
	}

	h4 {
		font-size: var(--font-size-4);
	}

	h5 {
		font-size: var(--font-size-3);
	}

	h6 {
		font-size: var(--font-size-2);
	}

	p {
		max-width: 65ch;
		text-wrap: pretty;
	}

	.align-center {
		vertical-align: middle;
		margin-block-start: calc(1ex - 1cap);
	}

	header > aside {
		translate: 100%;
	}

	header:not(:has(aside[inert])) {
		& svg {
			rotate: 360deg;
		}

		& > aside {
			translate: 0;
		}
	}
}